.avatar img {
    width: 130px;
    margin: 0 auto 30px;
    display: block;
}
.btn.edit{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 11px;
    top: 11px;
}
.form-group-wrapper{
    display: flex;
    flex-wrap: wrap;
    .form-group{
        border-bottom: 1px dashed #ddd;
        padding-bottom: 12px;
        margin: 0 10px 5px;
        width: calc(50% - 20px);
        label{
            color: #9e9e9e;
            line-height: 1;
            margin-bottom: 5px;
        }
        .value {
            color: #007bff;
            font-size: 1.5rem;
            display: block;
            font-weight: 500;
            line-height: 1;
        }
    }
}